<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_SyntaxHighlighter>
			<version>1.0.3</version>
		</Fishpig_SyntaxHighlighter>
	</modules>
	<global>
		<helpers>
			<syntaxhighlighter>
				<class>Fishpig_SyntaxHighlighter_Helper</class>
			</syntaxhighlighter>
		</helpers>
		<models>
			<syntaxhighlighter>
				<class>Fishpig_SyntaxHighlighter_Model</class>
			</syntaxhighlighter>
		</models>
	</global>
	<default>
		<syntaxhighlighter>
			<settings>
				<is_enabled>1</is_enabled>
				<theme>Default</theme>
				<load_globally>1</load_globally>
			</settings>
		</syntaxhighlighter>
	</default>
	<frontend>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<syntaxhighlighter_inject>
						<type>singleton</type>
						<class>syntaxhighlighter/observer</class>
						<method>inject</method>
					</syntaxhighlighter_inject>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>
</config>